<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

    <resultMap id="memberMap" type="kr.or.ddit.emam.vo.MemberVO">
        <id property="mem_id" column="MEM_ID"/>
        <result property="mem_name" column="MEM_NAME"/>
        <result property="mem_nickname" column="MEM_NICKNAME"/>
        <result property="mem_joindate" column="MEM_JOINDATE"/>
    </resultMap>

    <resultMap id="inquiryMap" type="kr.or.ddit.emam.vo.InquiryVO">
        <id property="inquiry_index" column="INQUIRY_INDEX"/>
        <result property="mem_id" column="MEM_ID"/>
        <result property="inquiry_title" column="INQUIRY_TITLE"/>
        <result property="inquiry_con" column="INQUIRY_CON"/>
        <result property="inquiry_date" column="INQUIRY_DATE"/>
        <result property="inquiry_ispublic" column="INQUIRY_ISPUBLIC"/>
        <result property="inquiry_comment_date" column="INQUIRY_COMMENT_DATE"/>
        <result property="inquiry_comment" column="INQUIRY_COMMENT"/>
    </resultMap>

    <select id="getLoginAdmin" resultType="kr.or.ddit.emam.vo.AdminVO" parameterType="kr.or.ddit.emam.vo.AdminVO">
        select * from admin
        where ADMIN_ID = #{admin_id} and ADMIN_PW = #{admin_pw}
    </select>

    <select id="getMemberList" parameterType="map" resultMap="memberMap">
        SELECT MEM_ID, MEM_NAME, MEM_NICKNAME, MEM_JOINDATE
        FROM (
        SELECT MEM_ID, MEM_NAME, MEM_NICKNAME, MEM_JOINDATE, ROWNUM AS rnum
        FROM (
        SELECT MEM_ID, MEM_NAME, MEM_NICKNAME, MEM_JOINDATE
        FROM member
        <where>
            <if test="memberVo != null and memberVo.mem_id != null and memberVo.mem_id != ''">
                MEM_ID = #{memberVo.mem_id}
            </if>
        </where>
        ORDER BY MEM_JOINDATE desc
        )
        WHERE ROWNUM &lt;= #{offset} + #{limit}
        )
        WHERE rnum > #{offset}
    </select>

    <select id="getTotalMemberCount" parameterType="String" resultType="int">
        select count(*)
        from member
        <where>
            <if test="value != null and value != ''">
                MEM_ID = #{value}
            </if>
        </where>
    </select>

    <delete id="deleteMember" parameterType="String">
        delete from member where MEM_ID = #{mem_id}
    </delete>

    <!-- 공지사항 수정을 하기 위한 인덱스 불러오기 -->
    <select id="getNotice" parameterType="int" resultType="NoticeVo">
        select NOTICE_INDEX, NOTICE_TITLE, NOTICE_CON, NOTICE_DATE
        from notice
        where NOTICE_INDEX=#{notice_index}
    </select>

    <!-- 공지사항 작성 -->
    <insert id="insertNotice" parameterType="noticeVo" >
        insert into notice (
            NOTICE_INDEX, NOTICE_TITLE, NOTICE_CON, NOTICE_DATE)
        values(
                  notice_NUM_SEQ.nextval, #{notice_title}, #{notice_con}, SYSDATE
              )
    </insert>

    <!-- 공지사항 수정 -->
    <update id="updateNotice" parameterType="noticeVo" >
        update notice
        set NOTICE_TITLE = #{notice_title},
            NOTICE_CON = #{notice_con}
        where NOTICE_INDEX = #{notice_index}
    </update>

    <!-- 공지사항 전체 리스트 조회 -->
    <select id="selectAllNotice" resultType="noticeVo">
        select NOTICE_INDEX, NOTICE_TITLE, NOTICE_CON, NOTICE_DATE
        from notice
        ORDER BY NOTICE_DATE DESC
    </select>

    <!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="int" >
        delete from notice where NOTICE_INDEX = #{notice_index}
    </delete>


    <select id="getInquiryList" resultMap="inquiryMap">
        SELECT
            INQUIRY_INDEX,
            INQUIRY_TITLE,
            MEM_ID,
            INQUIRY_DATE,
            INQUIRY_COMMENT
        FROM INQUIRY
        ORDER BY INQUIRY_INDEX DESC
    </select>

    <update id="updateInquiryComment" parameterType="kr.or.ddit.emam.vo.InquiryVO">
        UPDATE INQUIRY
        SET INQUIRY_COMMENT = #{inquiry_comment},
            INQUIRY_COMMENT_DATE = SYSDATE
        WHERE INQUIRY_INDEX = #{inquiry_index}
    </update>

    <select id="getInquiryDetail" parameterType="int" resultMap="inquiryMap">
        SELECT
            INQUIRY_INDEX,
            INQUIRY_TITLE,
            MEM_ID,
            INQUIRY_CON,
            INQUIRY_DATE,
            INQUIRY_ISPUBLIC,
            INQUIRY_COMMENT_DATE,
            INQUIRY_COMMENT
        FROM INQUIRY
        WHERE INQUIRY_INDEX = #{inquiryIndex}
    </select>
</mapper>