<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="profile">

    <insert id="insertProfile" parameterType="MemberVO">
        insert into profile
            values(
                  #{mem_id},
                  null,
                  null,
                  null,
                  0,
                  0,
                  null,
                  #{mem_bir}
            )
    </insert>


    <select id="selectProfile" parameterType="String" resultType="ProfileVO">
        SELECT
            P.MEM_ID,
            M.MEM_NICKNAME,
            M.MEM_ID,
            M.MEM_BIR,
            P.PROFILE_PHOTO,
            P.PROFILE_HEADERPHOTO,
            P.PROFILE_INTRO,
            P.PROFILE_URL,
            (SELECT count(*)
             FROM POST
             WHERE MEM_ID = #{memId}) AS profile_postcnt,
            (SELECT count(*)  FROM (SELECT FRIEND_FROMID AS TOID, FRIEND_STATUS
                                    FROM FRIEND
                                    WHERE FRIEND_TOID = #{memId}
                                    UNION ALL
                                    SELECT FRIEND_TOID AS TOID, FRIEND_STATUS
                                    FROM FRIEND
                                    WHERE FRIEND_FROMID = #{memId}) B
             WHERE B.FRIEND_STATUS = 1) AS profile_friendcnt
        FROM
            PROFILE P
                JOIN
            MEMBER M ON P.MEM_ID = M.MEM_ID
        WHERE
            P.MEM_ID = #{memId}
    </select>


<!--    기존 게시글
    <select id="selectPostList" parameterType="String" resultType="PostVO">
        SELECT
            POST_INDEX,
            MEM_ID,
            POST_CON,
            POST_PHOTO,
            POST_DATE
        FROM
            POST
        WHERE
            MEM_ID = #{memId}
        ORDER BY
            POST_DATE DESC
    </select>
-->

    <resultMap id="postMap" type="PostVO">
        <id property="post_index" column="POST_INDEX" />
        <result property="mem_id" column="MEM_ID"></result>
        <result property="post_con" column="POST_CON"></result>
        <result property="post_photo" column="POST_PHOTO"></result>
        <result property="post_date" column="POST_DATE"></result>
        <result property="post_visible" column="POST_VISIBLE"></result>
        <result property="post_replycnt" column="POST_REPLYCNT"></result>
        <result property="post_ilikecnt" column="POST_ILIKECNT"></result>
        <result property="post_viewcnt" column="POST_VIEWCNT"></result>
        <collection property="postPhotoDetailList" resultMap="postPhotoDetailMap" />
    </resultMap>

    <resultMap id="postPhotoDetailMap" type="PostPhotoDetailVO">
        <id property="post_photo" column="POST_PHOTO"/>
        <id property="post_photo_sn" column="POST_PHOTO_SN"/>
        <result property="photo_stre_cours" column="PHOTO_STRE_COURS"></result>
        <result property="photo_flie_nm" column="PHOTO_FILE_NM"></result>
        <result property="org_photo_nm" column="ORG_PHOTO_NM"></result>
        <result property="photo_extsn" column="PHOTO_EXTSN"></result>
    </resultMap>

    <select id="selectPostList" resultMap="postMap">
        SELECT *
        FROM POST a
                 INNER JOIN POST_PHOTO_DETAIL b ON(a.POST_PHOTO = b.POST_PHOTO)
        WHERE MEM_ID = #{memId}
        order by POST_DATE desc
    </select>



    <update id="updateProfile" parameterType="ProfileVO">
    UPDATE PROFILE
    SET
    PROFILE_INTRO = #{profile_intro},
    PROFILE_URL = #{profile_url},
    PROFILE_PHOTO = #{profile_photo},
    PROFILE_HEADERPHOTO = #{profile_headerphoto}
    WHERE
    MEM_ID = #{mem_id}
    </update>

    <select id="selectPostCount" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM POST
        WHERE MEM_ID = #{memId}
    </select>

    <update id="updateProfilePostCount" parameterType="ProfileVO">
        UPDATE PROFILE
        SET
            PROFILE_POSTCNT = #{profile_postcnt}
        WHERE
            MEM_ID = #{mem_id}
    </update>

    <select id="isFriendCheck" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM FRIEND
        WHERE (FRIEND_FROMID = #{loginMemberId} AND FRIEND_TOID = #{profileOwnerId})
           OR (FRIEND_FROMID = #{profileOwnerId} AND FRIEND_TOID = #{loginMemberId})
    </select>

</mapper>