<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="profile">

    <insert id="insertProfile" parameterType="MemberVO">
        insert into profile
            values(
                  #{mem_id},
                  null,
                  null,
                  null,
                  0,
                  0,
                  null,
                  #{mem_bir}
            )
    </insert>

    <select id="selectProfile" parameterType="String" resultType="ProfileVO">
        SELECT
            P.MEM_ID,
            M.MEM_NICKNAME,
            M.MEM_BIR,
            P.PROFILE_PHOTO,
            P.PROFILE_HEADERPHOTO,
            P.PROFILE_INTRO,
            P.PROFILE_URL,
            P.PROFILE_POSTCNT,
            P.PROFILE_FRIENDCNT
        FROM
            PROFILE P
                JOIN
            MEMBER M ON P.MEM_ID = M.MEM_ID
        WHERE
            P.MEM_ID = #{memId}
    </select>

    <select id="selectPostList" parameterType="String" resultType="PostVO">
        SELECT
            POST_INDEX,
            MEM_ID,
            POST_CON,
            POST_PHOTO,
            POST_DATE
        FROM
            POST
        WHERE
            MEM_ID = #{memId}
        ORDER BY
            POST_DATE DESC
    </select>

    <update id="updateProfile" parameterType="ProfileVO">
    UPDATE PROFILE
    SET
    PROFILE_INTRO = #{profile_intro},
    PROFILE_URL = #{profile_url},
    PROFILE_PHOTO = #{profile_photo},
    PROFILE_HEADERPHOTO = #{profile_headerphoto}
    WHERE
    MEM_ID = #{mem_id}
    </update>

    <select id="selectPostCount" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM POST
        WHERE MEM_ID = #{memId}
    </select>

    <update id="updateProfilePostCount" parameterType="ProfileVO">
        UPDATE PROFILE
        SET
            PROFILE_POSTCNT = #{profile_postcnt}
        WHERE
            MEM_ID = #{mem_id}
    </update>

</mapper>