<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply">
    <insert id="insertReply" parameterType="kr.or.ddit.emam.vo.ReplyVO">
        INSERT INTO reply (
            REPLY_INDEX,
            POST_INDEX,
            REPLY_PARENTREPLYINDEX,
            MEM_ID,
            REPLY_DATE,
            REPLY_CON
        )
        VALUES (
                     num_seq.nextval,
                     #{post_index},
                    <choose>
                        <when test='reply_parentreplyindex != 0'>
                            #{reply_parentreplyindex}
                        </when>
                        <when test="reply_parentreplyindex == 0">
                            num_seq.nextval
                        </when>
                    </choose>
                   ,
                     #{mem_id},
                     sysdate,
                     #{reply_con}
                 )
    </insert>

    <update id="updateReply" parameterType="kr.or.ddit.emam.vo.ReplyVO">
        UPDATE reply
        SET REPLY_CON = #{reply_con},
--             REPLY_DATE = sysdate
        WHERE reply_index = #{reply_index}
    </update>

    <select id="selectPostReply" parameterType="int" resultType="kr.or.ddit.emam.vo.ReplyVO">
        SELECT
            a.reply_index,
            a.post_index,
            a.REPLY_PARENTREPLYINDEX,
            a.mem_id,
            a.reply_con,
            a.reply_date,
            b.MEM_NICKNAME
        FROM reply a
                 inner join member b ON(a.mem_id = b.mem_id)
        WHERE post_index = #{post_index}
          and a.reply_index = a.REPLY_PARENTREPLYINDEX
        ORDER BY reply_date ASC
    </select>

    <select id="getReplyReply" parameterType="int" resultType="kr.or.ddit.emam.vo.ReplyVO">
        SELECT
            a.reply_index,
            a.post_index,
            a.REPLY_PARENTREPLYINDEX,
            a.mem_id,
            a.reply_con,
            a.reply_date,
            b.MEM_NICKNAME
        FROM reply a
                 inner join member b ON(a.mem_id = b.mem_id)
        WHERE post_index = #{post_index}
          and REPLY_PARENTREPLYINDEX = #{reply_index}
          and reply_index != #{reply_index}
        ORDER BY reply_date ASC
    </select>

    <select id="selectonereply" parameterType="int" resultType="kr.or.ddit.emam.vo.ReplyVO">
        SELECT * FROM
                (SELECT * FROM reply WHERE post_index = #{postIndex} ORDER BY 1)
        WHERE ROWNUM= 1
    </select>

    <delete id="deleteReply" parameterType="int">
        delete from reply where reply_index = #{reply_index}
    </delete>

</mapper>